DATABASE_URL=postgres://postgres:@db:5432/bsdsec_development
TEST_DATABASE_URL=postgres://postgres:@db:5432/bsdsec_test
TEST_EMAIL=test@example.com
#HTTP webhook signing key from mailgun
MAILGUN_INGRESS_SIGNING_KEY=asdf 
