DATABASE_URL=postgres://postgres:@db:5432/bsdsec_development
TEST_DATABASE_URL=postgres://postgres:@db:5432/bsdsec_test
TEST_EMAIL=test@example.com
MAILGUN_INGRESS_API_KEY=asdf
# Consumer Keys
TWITTER_CONSUMER_KEY=aa
TWITTER_CONSUMER_SECRET=ddd
# Access Token and Secret 
TWITTER_ACCESS_TOKEN=sdss
TWITTER_ACCESS_SECRET=asda
