<div id="articles">
  <% @articles.each do |article| %>
    <h2>
      <small><%= article.created_at.strftime('%F') %></small>
      <%= link_to art_title(article.title), article_path(article) %>
      <% article.tags.each do |tag| %>
        <small><i><%= link_to tag.name, tag_path(tag) %></small></i>
      <% end %>
    </h2>
  <% end %>
  <%= paginate @articles %>
</div>
