<% @articles.each do |article| %>
  <h2><span><%= art_date(article.created_at) %></span>
    <%= link_to art_title(article.title), article_path(article) %>
    <% article.tags.each do |tag| %>
      <span><%= link_to tag.name, tag_path(tag) %></span>
    <% end %>
  </h2>
<% end %>
<%= paginate @articles %>  


