$fa-font-path: '~@fortawesome/fontawesome-free/webfonts/';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

header {
  color: #50585d;
  margin: 40px auto;
  text-align: center;
}

h1, h2, h3 {
  color: #50585d;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}

.article_link {
  font-size: 1.4rem;
}

span, p, span a {
  color: #50585d;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #226599;
  text-decoration: none;
}

a:hover {
  color: #226599;
  text-decoration: underline;
}

.social a {
  color: #bbb;
}

.social a:hover {
  color: #226599;
  text-decoration: none;
}

.site_title {
  margin-bottom: 5px;
}

.site_title a {
  color: #226599;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(1, 1, 1, 0.25);
}

.site_subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0;
  text-shadow: 0 1px 3px rgba(1, 1, 1, 0.25);
}

.article_info, .article_info a {
  color: #9eabb3;
  font-size: 0.8rem;
  margin: 2px 0;
}

.article_title {
  color: #226599;
  margin-bottom: 0;
}

main {
  line-height: 1.6rem;
  margin: 5% auto 0 auto;
  max-width: 78%;
}

ul li {
  color: #50585d;
}

footer {
  color: #50585d;
  margin: 0 auto;
  text-align: center;
}

footer p {
  font-size: .9rem;
  margin: 5px;
}

.patreaon {
  margin: 5px;
}

pre {
  white-space: -moz-pre-wrap;
  /* Mozilla, supported since 1999 */
  white-space: -pre-wrap;
  /* Opera */
  white-space: -o-pre-wrap;
  /* Opera */
  white-space: pre-wrap;
  /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word;
  /* IE 5.5+ */
}

.pagination {
  margin: .3em;
  padding: .3em;
}

.pagination a {
  font-size: 1.7rem;
  margin: .2em;
  padding: .1em .3em;
}

.pagination a:hover, .pagination a:active {
  color: #000;
}

.pagination .current {
  background-color: #369;
  color: #FFF;
  font-size: 1.7rem;
  font-weight: bold;
  margin: .2em;
  padding: .1em .3em;
}

.pagination .disabled {
  color: #ddd;
  font-size: 1.7rem;
  margin: .2em;
  padding: .1em .3em;
}
