/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

header {
  margin: 40px auto;
  text-align: center;
  color: #50585d;
}

h1, h2, h3 {
  color: #50585d;
  font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1;
  font-weight: 700;
}

.article_link {
  font-size:1.4rem;
}

span, p , span a {
  color: #50585d; 
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration:none;
  color: #226599; 
}

a:hover {
  color: #226599; 
  text-decoration: underline;
}

.social a {
  color:#bbb;
}

.social a:hover {
  color:#226599;
}
.site_title {
    margin-bottom:5px;
}
.site_title a {
  text-decoration:none;
  color: #226599; 
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-shadow: 0 1px 4px rgba(1, 1, 1, 0.25);
}

.site_subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0;
  text-shadow: 0 1px 3px rgba(1, 1, 1, 0.25);
}

.article_info, .article_info a {
  margin: 2px 0;
  color: #9eabb3;
  font-size: 0.8rem;
}

.article_title {
  margin-bottom:0;
  color: #226599;
}

main {
  max-width: 78%;
  margin: 5% auto 0 auto;
  line-height: 1.6rem;
}

ul li {
  color: #50585d;
}

footer {
  color: #50585d; 
  margin: 0 auto;
  text-align: center;
}
footer p {
    font-size: .9rem;
    margin:5px;
}


.pagination {padding:.3em;margin:.3em;}
.pagination a{padding:.1em .3em;margin:.2em;font-size: 1.7rem; }
.pagination a:hover,.pagination a:active{color:#000;}
.pagination .current{padding:.1em .3em;margin:.2em;font-weight:bold;background-color:#369;color:#FFF;font-size: 1.7rem; }
.pagination .disabled{padding:.1em .3em;margin:.2em;color:#ddd; font-size: 1.7rem;}