<!DOCTYPE html>
<html>
<head>
  <title>BSDSec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<h1>BSDSec</h1>
deadsimple BSD Security Advisories
</header>
<%= yield %>

</body>
</html>
